/*Declaracion de variables*/
:root{
    --BackgrondNavyFooter: #008F7A;
    --TextnavyFooter: #FFFFFF;
    --colorLinks: #DADDE2;
}
/*Estilos para bajar el footer*/
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  
}
main{
    flex-grow: 1;
}

nav{
    background: var(--BackgrondNavyFooter);
    display: flex;
    align-items: center;
    padding: 10px 20px;
}

/*Deja mas grueso los bordes del boton hamburgesa*/
.navbar-toggler {
  border: 2px solid white; 
  border-radius: 4px;   
}

.navbar-nav .nav-link {
  padding: 8px 12px;
  display: flex;
  align-items: center;
  gap: 8px; 
  color: var(--TextnavyFooter);
    white-space: nowrap;

}


/*Tamaño de la barra de busqueda*/
.formSearch{
    max-width: 400px;
}


footer{
    background-color: var(--BackgrondNavyFooter);
    color: var(--TextnavyFooter);
}
a{
    color: var(--TextnavyFooter);
    text-decoration: none;
}

.button-form {
  background-color: #008f7a;
  color: #ffffff;
}

.button-form:hover {
    background-color: #008f7a;
    color: #ffffff;

}

.backgroundForm{
    background-color:#DADDE2;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
     
}

.requiredForm{
color: red;
}
/* Estilos del slider*/

.h1-form{
    background-color: #889FA5;
}

.container-h1{
    border-top-left-radius: 8px;
     border-top-right-radius: 8px;
}

.previousNext {
    filter: invert(100%);
}

.sliderImg {
  height: 500px;
  object-fit: cover;
}

.bg-slider {
    background-color: var(--BackgrondNavyFooter);
    opacity: 75%;
}

.text-slider {
    color: black;
    opacity: 100%;
}

.sliderTextCenter1 {
  bottom: 50%; /* Ajusta este valor */
  transform: translateY(50%); /* Centrado vertical */
}

.sliderTextCenter2 {
  bottom: 58%; /* Ajusta este valor */
  transform: translateY(50%); /* Centrado vertical */
}

.sliderTextCenter3 {
  bottom: 35%; /* Ajusta este valor */
  transform: translateY(50%); /* Centrado vertical */
}

/*Estilos del logo*/
.img-logo{
    width: 60px;
}

.img-logo-nav-footer {
    height: 60px;
    width: auto;
    display: block;
}

.mediosDePago{
  width: 80px;
  height: 80px;
}

@media (min-width: 768px) {
  .navbar-nav .nav-link {
    font-size: 18px;
  }
}

@media (min-width: 1200px) {
  .navbar-nav .nav-link {
    font-size: 30px;
  }
}