/*Declaracion de variables*/
:root{
    --BackgrondNavyFooter: #008F7A;
    --TextnavyFooter: #FFFFFF;
    --colorLinks: #DADDE2;
}
/*Estilos para bajar el footer*/
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  
}
main{
    flex-grow: 1;
}

nav{
    background: var(--BackgrondNavyFooter);
    display: flex;
    align-items: center;
    padding: 10px 20px;
}

/*Deja mas grueso los bordes del boton hamburgesa*/
.navbar-toggler {
  border: 2px solid white; 
  border-radius: 4px;   
}

.navbar-nav .nav-link {
  padding: 8px 12px;
  display: flex;
  align-items: center;
  gap: 8px; 
  color: var(--TextnavyFooter);
    white-space: nowrap;

}


/*Tamaño de la barra de busqueda*/
.formSearch{
    max-width: 400px;
}


footer{
    background-color: var(--BackgrondNavyFooter);
    color: var(--TextnavyFooter);
}
a{
    color: var(--TextnavyFooter);
    text-decoration: none;
}

.button-form {
  background-color: #008f7a;
  color: #ffffff;
}

.button-form:hover {
    background-color: #008f7a;
    color: #ffffff;

}

.backgroundForm{
    background-color:#DADDE2;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
     
}

.requiredForm{
color: red;
}
/* Estilos del slider*/

.h1-form{
    background-color: #889FA5;
}

.container-h1{
    border-top-left-radius: 8px;
     border-top-right-radius: 8px;
}

.previousNext {
    filter: invert(100%);
}

.sliderImg {
  height: 500px;
  object-fit: cover;
}

.bg-slider {
    background-color: var(--BackgrondNavyFooter);
    opacity: 75%;
}

.text-slider {
    color: black;
    opacity: 100%;
}

.sliderTextCenter1 {
  bottom: 50%; /* Ajusta este valor */
  transform: translateY(50%); /* Centrado vertical */
}

.sliderTextCenter2 {
  bottom: 58%; /* Ajusta este valor */
  transform: translateY(50%); /* Centrado vertical */
}

.sliderTextCenter3 {
  bottom: 35%; /* Ajusta este valor */
  transform: translateY(50%); /* Centrado vertical */
}

/*Estilos del logo*/
.img-logo{
    width: 60px;
}

.img-logo-nav-footer {
    height: 60px;
    width: auto;
    display: block;
}
.video-principal{
    width: 100vw;
    height: 60vh;           
    object-fit: cover;       
    display: block;

}
.contenedorVideo{
  max-width: 100vw;
  overflow: hidden;
}

.cardCategoria{
  border: 5px solid #008f7a;
  border-radius: 50px;

  background-color:#DADDE2;
}

.cardCategoriaIndex{
  border: 5px solid #43655A;
  border-radius: 50px;

  background-color:#DADDE2;
}

.lineaCard{
  margin-top: 30px;
  border-top: 1px solid;
  border-color: #008f7a;
}

.card-scroll {
  display: flex;
  overflow-x: auto;
  gap: 16px;
  padding: 32px 16px;
  scroll-snap-type: x mandatory;
  scroll-padding: 50%;
  scroll-behavior: smooth;
}

.grillaScroll {
  flex: 0 0 auto;
  width: 80%; 
  scroll-snap-align: center;
  min-width: 250px; 
  max-width: 300px;
}

.mediosDePago{
  width: 80px;
  height: 80px;
}

/*Estilos ventana modal (Login)*/
.modal-header{
  background: var(--BackgrondNavyFooter);
  height: 100%;
  width: 100%;
}
.img-Login{
  position: relative;
  left: 10px;
  width: 100%;
  height: 100%;
}
.btn-Login{
  width: 100%;
  position: relative;
  top: 25px;
}
.link-olvidoContraseña{
  position: relative;
  left: 190px;
  bottom: 180px;
}
.btn-Google{
  background: var(--BackgrondNavyFooter);
  color: var(--TextnavyFooter);
  width: 100%;
  margin-top: 40px;
}
.btn-Facebook{
  background: var(--BackgrondNavyFooter);
  color: var(--TextnavyFooter);
  width: 100%;
  margin-top: 15px;
}
/*Quitamos el efecto hover de la clase de boostrap*/
.btn-Cerrar:hover{
  background-color: var(--BackgrondNavyFooter);
  color: var(--TextnavyFooter);
}

.imgCuadrada{
  overflow: hidden;
  height:40vh;
  width: 100%;
}

/* Clases para los detalles de los items */
.text-primario {
  color: var(--BackgrondNavyFooter);
}

/*Estilo para los comentarios*/
.box-comentarios{
  background: ;
}


@media (min-width: 768px) {
  .navbar-nav .nav-link {
    font-size: 18px;
  }
  .link-olvidoContraseña{
    left: 280px;
    bottom: 230px;
  }
}

@media (min-width:992px){
  .video-principal{
    
    height: 80vh;
}

}

@media (min-width: 1200px) {
  .navbar-nav .nav-link {
    font-size: 30px;
  }
  .link-olvidoContraseña{
    left: 190px;
    top: -180px;
  }

}

/*Media query para dispositivos mobile*/
@media (max-width: 767px){
  .img-Login{
    left: 10px;
  }
  .link-olvidoContraseña{
    left: 150px;
    bottom: 230px;
  }
}

/* Media query para dispositivos medianos */

@media ((width >= 768px) and (width <= 991px)) {
  .imgCuadrada {
    overflow: hidden;
    height: 20vh;
    width: 100%;
  }

}
